{% extends "_layout" %}

{% block content %}

<section class="about">
    <div class="accordion">
        <div class="accordion__wrapper" style="background: #{{ entry.studioColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.studioTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item  studio">
                        <div class="studio__item">
                            <img class="studio__image" src="{{ entry.studioImage.first().url }}" />
                        </div>
                        {% if entry.studioTexts | length %}
                            {{ entry.studioTexts }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.selectedClientsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.selectedClientsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        {% if footer.contactTwitter | length %}
                            {% for block in footer.contactTwitter %}
                                {{ block.twitterAccount }}q
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.awardsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.awardsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <a href="#">Project 1</a>
                        <a href="#">Project 2</a>
                        <a href="#">Project 3</a>
                        <a href="#">Project 4</a>
                        <a href="#">Project 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.speakingAndConsultancyColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.speakingAndConsultancyTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <a href="#">Project 1</a>
                        <a href="#">Project 2</a>
                        <a href="#">Project 3</a>
                        <a href="#">Project 4</a>
                        <a href="#">Project 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.exhibitionsAndScreeningsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.exhibitionsAndScreeningsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <a href="#">Project 1</a>
                        <a href="#">Project 2</a>
                        <a href="#">Project 3</a>
                        <a href="#">Project 4</a>
                        <a href="#">Project 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.selectedPressColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.selectedPressTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <a href="#">Project 1</a>
                        <a href="#">Project 2</a>
                        <a href="#">Project 3</a>
                        <a href="#">Project 4</a>
                        <a href="#">Project 5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}