{% extends "_layout" %}

{% block content %}

<section class="about">
    <div class="accordion">
        <div class="accordion__wrapper" style="background: #{{ entry.studioColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.studioTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item  studio">
                        <div class="studio__item">
                            <img class="studio__image" src="{{ entry.studioImage.first().url }}" />
                        </div>
                        {% if entry.studioTexts | length %}
                            {{ entry.studioTexts }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.selectedClientsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.selectedClientsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        {% if entry.selectedClientsDescriptions | length %}
                            {{ entry.selectedClientsDescriptions }}
                        {% endif %}
                        <ul class="accordion__unordered-list">
                            {% if entry.selectedClientsList | length %}
                                {% for block in entry.selectedClientsList %}
                                    <li class="accordion__list">{{ block.clientName }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.awardsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.awardsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <ul class="accordion__unordered-list">
                            {% if entry.awardsList | length %}
                                {% for block in entry.awardsList %}
                                    <li class="accordion__list">{{ block.awardTitle }} <span>| {{ block.awardPrize }}</span></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.speakingAndConsultancyColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.speakingAndConsultancyTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <ul class="accordion__unordered-list">
                            {% if entry.speakingAndConsultancyList | length %}
                                {% for block in entry.speakingAndConsultancyList %}
                                    <li class="accordion__list">{{ block.event }} <span>| {{ block.role }}</span></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.exhibitionsAndScreeningsColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.exhibitionsAndScreeningsTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <ul class="accordion__unordered-list">
                            {% if entry.exhibitionsAndScreeningsList | length %}
                                {% for block in entry.exhibitionsAndScreeningsList %}
                                    <li class="accordion__list">{{ block.exhibitionName }} <span>| {{ block.venue }}</span></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__wrapper" style="background: #{{ entry.selectedPressColor }};">
            <div class="accordion__inner-wrapper">
                <div class="accordion__header">
                    <h3 class="accordion__title">{{ entry.selectedPressTitle }}</h3>
                </div>
                <div class="accordion__contents">
                    <div class="accordion__item">
                        <ul class="accordion__unordered-list">
                            {% if entry.selectedPressList | length %}
                                {% for block in entry.selectedPressList %}
                                    <li class="accordion__list">
                                        {% if block.pressLink is empty %}
                                            {{ block.media }} <span>| {{ block.feature }}</span>
                                        {% else %}
                                            <a href="{{ block.pressLink }}" target="_blank" class="press-link">{{ block.media }}</a> <span>| {{ block.feature }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}