{% extends "_layout" %}

{% block content %}

<section class="about">
    <nav>
        <dl class="accordion-js">
            <dt class="accordion-element__term">Projects</dt>
            <div>
                <dd>
                    <a href="#">Project 1</a>
                    <a href="#">Project 2</a>
                    <dl class="accordion-js">
                        <dt>Subprojects</dt>
                        <div>
                            <dd>
                                <a href="#">Subproject 1</a>
                                <a href="#">Subproject 3</a>
                                <a href="#">Subproject 4</a>
                                <a href="#">Subproject 5</a>
                            </dd>
                        </div>
                    </dl>
                    <a href="#">Project 3</a>
                    <a href="#">Project 4</a>
                    <a href="#">Project 5</a>
                </dd>
            </div>
            <dt class="accordion-element__term">Services</dt>
            <div>
                <dd>
                    <a href="#">Service 1</a>
                    <a href="#">Service 2</a>
                    <a href="#">Service 3</a>
                    <a href="#">Service 4</a>
                    <a href="#">Service 5</a>
                </dd>
            </div>
            <dt class="accordion-element__term">References</dt>
            <div>
                <dd>
                    <a href="#">Reference 1</a>
                    <a href="#">Reference 2</a>
                    <a href="#">Reference 3</a>
                    <a href="#">Reference 4</a>
                    <a href="#">Reference 5</a>
                </dd>
            </div>
        </dl>
    </nav>
</section>

{% endblock %}