/* =======================
   Base/Page
   ======================= */

html {
    background: $base-background-color;
    color: $color-white;
    font-family: $sans-serif;
    font-weight: 400;

	-webkit-font-smoothing: inherit !important;
	-moz-osx-font-smoothing: grayscale;
}
