/* =======================
   Base/Page
   ======================= */

html {
    background: $base-background-color;
    color: $color-white;
    font-family: 'DINMittelschriftStd', serif;
    font-weight: 400;
}
