/* =======================
   Components/Captions
   ======================= */

.caption {
    display: block;
    letter-spacing: .04em;
    @include font-size(13px, 1.2);
}

.caption--title {
    text-transform: uppercase;
}