/* =======================
   Components/Quotes
   ======================= */
.quotes {
    font-family: serif;
    font-weight: bold;
    margin-bottom: $spacing-unit--tiny * 0.5;
    @include font-size(15px, 1.4);
}

    .quotes--author {
        font-family: serif;
        font-style: italic;
        text-align: center;
        @include media-query(lap-and-up) {
            text-align: left;
        }
    }