/* =======================
   Components/Trapezium
   ======================= */

.trapezium {
    border-right: 45px solid transparent;
    border-bottom: 50px solid;
    bottom: 0;
    height: 50px;
    position: absolute;
    text-transform: uppercase;
    width: 228px;
    z-index: 90;

    &.trapezium--green {
        border-bottom-color: $color-green;
    }

    &:hover + .thumbs__image {
        opacity: 0;
    }
}

    .trapezium__inner {
        padding-top: $spacing-unit--small;
        padding-left: $spacing-unit--small;
    }