/* =======================
   Components/Menus
   ======================= */

ul.page-head--menus {
    background: $base-background-color;
    color: $color-white;
    height: auto;
    left: 0;
    margin: 0;
    opacity: 0;
    padding-top: $spacing-unit--small;
    padding-bottom: $spacing-unit;
    position: absolute;
    text-align: center;
    user-select: none;
    visibility: hidden;
    width: 100%;
    z-index: 130;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    @include media-query(lap-and-up) {
        opacity: 1;
        padding-top: 0;
        padding-bottom: 0;
        position: inherit;
        top: 180px;
        visibility: visible;
    }

    .menu__item {
        display: block;
        letter-spacing: .08em;
        list-style: none;
        padding-left: $spacing-unit * 3;
        padding-right: $spacing-unit * 3;
        padding-top: $spacing-unit--tiny;
        padding-bottom: $spacing-unit--tiny;
        @include font-size(15px);

        @include media-query(lap-and-up) {
            background: url(/assets/images/menuSeparator.png) no-repeat scroll 0px 7px transparent;
            display:inline-block;
            padding-top: 0;
            padding-bottom: 0;
        }

        &:first-child {
            background: none repeat scroll 0 0 transparent;
        }
    }

    .menu__link {
        color: $color-white;
        &::after {
            background-color: $color-white;
        }
    }
}