/* =======================
   Components/Page Head
   ======================= */

.page-head {
    background: $base-background-color;
    position: fixed;
    top: 0;
    padding: $spacing-unit--small;
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--small * 3;
    width: 100%;
    z-index: 10000000;
    @include media-query(lap-and-up) {
        padding: $spacing-unit;
        padding-top: $spacing-unit--large;
    }
}


.page-head--contents {
    h1 {
        color: $base-text-color;
        letter-spacing: .15em;
        text-align: center;
        margin-bottom: $spacing-unit--tiny;
        @include font-size(24px);
    }

    h2 {
        color: $color-grey;
        letter-spacing: 0.1em;
        margin-bottom: $spacing-unit;
        text-align: center;
        @include font-size(16px);
    }
}

    .page-head--toggle {
        background: url(/assets/images/menu--toggle.png) no-repeat center top;
        cursor: pointer;
        display: block;
        height: 13px;
        margin: 0 auto;
        width: 13px;
        transition: all 300ms ease;

        @include media-query(lap-and-up) {
            display: none;
        }

        &:hover {
            transform: rotate(90deg);
        }

        &.close {
            transform: rotate(225deg);
        }
    }