/* =======================
   Components/Home News
   ======================= */

.home__news {
    background: $color-grey;
    display: table;
    padding-top: $spacing-unit--tiny;
    padding-bottom: $spacing-unit--tiny;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    width: 100%;

    span {
        color: $color-black;
        margin: 0;
    }
}

    .news__wrapper {
        margin-bottom: 0;
    }

        .news__title {
            display: table-cell;
            padding-top: 5px;
            text-transform: uppercase;
            vertical-align: middle;
            @include font-size(18px, 18px);
        }
    
        .news__item {
            display: table-cell;
            vertical-align: middle;
            padding-left: $spacing-unit--tiny;
            padding-top: 4px;
            @include font-size(16px, 16px);
            
            a {
                color: $color-black;
                text-decoration: underline;
    
                &:hover {
                    color: $color-darkgrey;
                }
            }
        }
