/* =======================
   Components/Studio
   ======================= */
.studio__image {
    width: 209px;
    height: 300px;
    float: left;
    margin: 0 $spacing-unit--large $spacing-unit--small 0;
}