/* =======================
   Components/Accordion
   ======================= */
.accordion {
}

    .accordion__wrapper {
        background: blue;
        cursor: pointer;
        width: 100%;
    }

        .accordion__inner-wrapper {
            max-width: $max-width;
            margin: 0 auto;
        }

            .accordion__title {
                margin-bottom: 0;
            }