/* =======================
   Components/Arrows
   ======================= */
.arrow-to-next-block {
    cursor: pointer;
    height: 30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 60px;
    z-index: 1000;

    &.arrow--main-contents {
        background: url(/assets/images/arrow.png) no-repeat;
    }

    &.arrow--page-foot {
        background: url(/assets/images/footer-arrow.png) no-repeat;
        top: -30px;
        opacity: 1 !important;
    }
}