/* =======================
   Components/Captions
   ======================= */
.thumbs {
    margin-bottom: $spacing-unit--small;
    position: relative;
}

    .thumbs__item {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }

        .thumbs__image {
            opacity: 1;
            transition: all 200ms ease;
            width: 100%;

            &:hover {
                @include media-query(lap-and-up) {
                    opacity: 0;
                }
            }
        }

        .thumbs__label {
            color: $color-white;
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 0;
            @include font-size(11px, 1.4);
        }