/* =======================
   Components/Accordion
   ======================= */
.accordion {
    color: $color-black;
}

    .accordion__wrapper {
        background: blue;
        cursor: pointer;
        width: 100%;
    }

        .accordion__inner-wrapper {
            max-width: $max-width;
            margin: 0 auto;
            padding-left: $spacing-unit;
            padding-right: $spacing-unit;
        }

            .accordion__title {
                height: 80px;
                font-family: DINMittelschriftStd, serif;
                letter-spacing: .1em;
                margin-bottom: 0;
                text-align: center;
                text-transform: uppercase;
                word-break: normal;
                @include font-size(18px, 1.2);
                @include media-query(lap-and-up) {
                    text-align: left;
                }
            }

            .accordion__item {
                p {
                    margin-bottom: 0;
                    padding-bottom: $spacing-unit--large;
                }
            }