/* =======================
   Components/Press Links
   ======================= */

.press-link {
    color: $color-black;
    text-decoration: underline;
    transition: all 200ms ease;

    &:hover {
        opacity: 0.5;
    }
}