/* =======================
   Components/Home News
   ======================= */

.home--news {
    background: $color-grey;
    width: 100%;

    p {
        color: $color-black;
        padding: 8px;
        padding-left: $spacing-unit;
        margin: 0;
    }
}

