.home-carousel {
    .flickity-prev-next-button {
        backface-visibility: hidden !important;
        border-radius: 0;
        bottom: 0;
        top: inherit;
        bottom: 0;
        background: transparent;
        top: inherit;
        transform: translateY(0);
        opacity: 1;

        &:hover {
            background: transparent;
        }
    }
    
    .flickity-prev-next-button.previous {
        border-bottom: 40px solid $base-background-color;
        border-left: 0 solid;
        border-right: 0px solid;
        padding-left: 20px;
        left: 0;
        width: 52%;

        @include media-query(mobile-and-up) {
            width: 60px;
            border-right: 45px solid transparent;
        }
    }
    
    .flickity-prev-next-button.next {
        border-bottom: 40px solid $base-background-color;
        border-left: 0;
        border-right: 0;
        padding-left: 20px;
        right: 0;
        width: 220px;
        @include media-query(mobile-and-up) {
            border-left: 45px solid transparent;
            width: 320px;
        }
    }
    
    .flickity-prev-next-button .arrow {
        fill: $color-white;
    }
    
    .flickity-prev-next-button svg {
        position: absolute;
        z-index: 10000;
        width: 20px;
        height: 20px;
        left: 0;
        @include media-query(mobile-and-up) {
            left: 20%;
        }
    }
    .flickity-prev-next-button.previous svg {
        left: 10px;
        top: 20px;
    }
    
    .flickity-prev-next-button.next svg {
        right: 10px;
        top: 20px;
        width: 400px;
    }
}

.flickity-page-dots {
    bottom: 40px;
}


$trapezoidborder: 30px;

.case-study-carousel {
    .flickity-prev-next-button{
        background: transparent;
        border-radius: inherit;
        border-top: $trapezoidborder solid transparent; 
        border-bottom: $trapezoidborder solid transparent; 
        position: absolute;
        height: 100px;
        width: 0px;
        padding: 0px;
        top: 50%;

        &.previous {
            border-left: $trapezoidborder solid $base-background-color;
            left: 0px;
        }

        &.next {
            border-right: $trapezoidborder solid $base-background-color; 
            right: 0;
        }
        
        &:after{ 
            content: ""; 
            height: 0px; 
            width: 0px; 
            padding: 0px; 
        }

        &:active {
          opacity: 1;
        }
    }



    .flickity-prev-next-button svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 40px;
    }

    .flickity-prev-next-button.previous svg {
        left: -30px;
    }

    .flickity-prev-next-button .arrow {
        fill: $color-white;
    }


    .flickity-page-dots .dot {
        border-radius: inherit;
        border: 1px solid;
        cursor: pointer;
        width: 12px;
        height: 12px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        margin: 0px $spacing-unit--small * 0.5;
    }
}
