/* =======================
   Components/Case Study Carousel
   ======================= */

.case-study-carousel {
/*
    overflow: hidden;
    width: 100%;
    margin-right: 10px;
*/
}

    .case-study-carousel__cell {
        width: 100%;
        margin-right: 100px;
        background: $color-black;
        counter-increment: gallery-cell;
    }


        .case-study-carousel__img {
            display: block;
            width: 100%;
            max-width: $max-width;
            margin: 0 auto;
            padding-left: $spacing-unit;
            padding-right: $spacing-unit;
        }

/*
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
*/
