/* =======================
   Components/Sections
   ======================= */

section {
    margin-left: $spacing-unit--small;
    margin-right: $spacing-unit--small;
    margin-top: 0;
    margin-bottom: 0;

    &.home {
        position: relative;
    }

    &.section--page-not-found {
        background: $base-background-color;
    }
}