/* =======================
   Components/Blocks
   ======================= */
.block {
    position: relative;

    &.mb18 {
        margin-bottom: $spacing-unit--small * 1.5;
    }
}

    .block--video {
        width: 100%;
        background: $color-black;

        &.remove-mb {
            margin-bottom: 0;
        }
    }

    .block--carousel {
        background: $color-black;
    }

    .block--two-column-text {
        background: #F4F4F4;
    }