/* =======================
   Components/Menus
   ======================= */

ul.page-head--menus {
    color: $color-white;
    text-align: center;
    margin: 0;

    li.item {
        background: url(/assets/images/menuSeparator.png) no-repeat scroll 0px 9px transparent;
        display:inline-block;
        list-style: none;
        padding-left: $spacing-unit * 3;
        padding-right: $spacing-unit * 3;
        @include font-size(14px);

        a {
            color: $color-white;
            
            &:hover {
                border-bottom: 1px solid $color-white;
                text-decoration: none;
            }
        }

        &:first-child {
            background: none repeat scroll 0 0 transparent;
        }
    }

}