/* =======================
   Components/Projects
   ======================= */

.project-title {
    color: $color-black;
    @include font-size(30px);
}

.project-details p {
    font-family: $serif;
    text-align: justify;
    @include font-size(16px, 1.4);
}

.project-details a {
    border-bottom: 1px solid $color-black;
    color: inherit;
    transition: all 200ms ease;
    &:hover {
        opacity: 0.5;
    }
}