/* =======================
   Components/Case Study Carousel
   ======================= */

.case-study-carousel {
}

    .case-study-carousel__cell {
        width: 100%;
        margin-right: 100px;
        background: $color-black;
        counter-increment: gallery-cell;
    }


        .case-study-carousel__img {
            display: block;
            width: 100%;
            max-width: $max-width;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            @include media-query(desk + 24) {
                padding-left: $spacing-unit;
                padding-right: $spacing-unit;
            }
        }

.flickity-prev-next-button.previous {
}

.flickity-prev-next-button.next {
}
