/* =======================
   Components/Mailchimp
   ======================= */

#mc_embed_signup_scroll {
    color: black;
    font-family: $serif;
    font-size: 14px;
    font-weight: $bold-weight;
    letter-spacing: .08em;
    margin-top: 0;
    margin-bottom: $spacing-unit--small * 3;
    line-height: 1.6em;
}

#mc_embed_signup form {
     padding: 0 !important; 
}

#mc_embed_signup input.email {
    font-family: $sans-serif;
    font-weight: $normal-weight !important;
    margin-bottom: $spacing-unit--tiny * 3 !important;
    padding: 4px 0 !important;
    width: 270px !important;

    @include media-query(palm) {
        margin-left: auto  !important;
        margin-right: auto  !important;
    }
}

#mc_embed_signup .button {
    height: 26px !important;
    line-height: 30px !important;
    width: 94px !important;
    font-family: $sans-serif;
    font-weight: $normal-weight !important;
    transition: all 300ms ease;
    @include media-query(palm) {
        margin: 0 auto !important;
    }
}
