/* =======================
   Components/Sections
   ======================= */

section {
    margin-top: $spacing-unit--tiny * 29;
    margin-left: $spacing-unit--small;
    margin-right: $spacing-unit--small;
    margin-bottom: $spacing-unit--small;

    &.home {
        position: relative;
    }
}