/* =======================
   Components/Loader
   ======================= */
.page-loader {
    background: $base-background-color;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100000000;
}

.page-loader__spinner {
    animation: rotate-square 1.2s infinite ease-in-out;
    background-color: $color-white;
    height: 40px;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

@keyframes rotate-square {
    0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}