/* =======================
   Components/Accordion
   ======================= */

nav {
  overflow-y: auto;
  background: #fff;
}

dt, dd a {
  display: block;
  padding: 15px 0 15px 22px;
  @include user-select(none);
  color: #333;
}

dt {
  cursor: pointer;
  outline: none;
}

dl {
  margin: 0;
}

dd {
  a {
    text-decoration: none;
    &:hover {
      color: darken(#333, 15%)
    }
    &:active {
      color: darken(#333, 20%);
    }
  }
}

.accordion-element {
  &__term {
    font-weight: bold;
    &.active, &:hover, &:focus {
      background-color: #eee;
    }
  }
}