/* =======================
   Components/Home News
   ======================= */

.home__news {
    background: $color-grey;
    padding-top: $spacing-unit--tiny;
    padding-bottom: $spacing-unit--tiny;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    span {
        color: $color-black;
        margin: 0;
    }
}