/* =======================
   Components/Contents
   ======================= */
.content {
    margin: 0 auto;
    max-width: $max-width;
}

    .content__video {
        width: 100%;
        position: relative;
        padding: 0;
        padding-top: 56.2%;
    }

    .content__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content__two-column {
        p {
            font-family: $serif;
            margin-bottom: 0;
        }
        a {
            border-bottom: 1px solid $color-black;
            color: inherit;
            transition: all 200ms ease;
            &:hover {
                opacity: 0.5;
            }
        }
    }