/* =======================
   Components/Descriptions
   ======================= */
.description {
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--large;
    position: relative;
    z-index: 1;
}