/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

    .wrapper__inner {
        max-width: $max-width;
        margin: 0 auto;
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }