/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

}

    .wrapper__inner {
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 $spacing-unit;
    }