/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    &.wrapper--projects {
        padding-left: 0;
        padding-right: 0;
    }

    &.wrapper--arrow {
        height: 30px;
        position: absolute;
        width: 100%;
    }
}

    .wrapper__inner {
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 $spacing-unit;
    }