/* =======================
   Settings/Fonts
   ======================= */

$serif:           Garamond,Palatino Linotype,Palatino,serif;
$sans-serif:     "DINMittelschriftStd", sans-serif;

$normal-weight:   normal;
$bold-weight:     bold;