/* =======================
   Settings/Colors
   ======================= */

$color-white:       #FFF;
$color-black:       #141414;
$color-grey:        #a0a0a0;
$color-darkgrey:    #4a4a4a;





// Page
$base-background-color:   $color-black;
$base-text-color:         $color-white;

$color-green:       #479588;





// Footer
$footer-color:      #2C2C2C;