/* =======================
   Settings/Max Width
   ======================= */

$max-width--large:         1240px;
$max-width:                1024px;
$max-width--small:         770px;
$max-width--tiny:          580px;
$max-width--micro:         370px;
