/* =======================
   Settings/Colors
   ======================= */

$color-white:       #FFF;
$color-black:       #000;
$color-grey:        #a0a0a0;
$color-darkgrey:    #4a4a4a;


// Page
$base-background-color:   #1a1a1a;
$base-text-color:         $color-white;

$color-green:       #479588;


// Pagination
$pagination-bg-color:     #535353;


// Footer
$footer-color:      #3a3a3a;