/* =======================
   Settings/Colors
   ======================= */

$color-white:       #FFF;
$color-black:       #1a1a1a;
$color-grey:        #8F8F8F;

// Page
$base-background-color:   $color-black;
$base-text-color:         $color-white;