{% extends "_layout" %}

{% block content %}
<section class="projects">
    <div class="wrapper  wrapper--projects">
        <div class="layout  layout--small">
            {% for block in entry.projects %}<div class="[ layout__item  u-1/1  u-1/2-mobile-and-up  u-1/3-lap-and-up  u-1/4-wide ]  thumbs">
                {% if block.caseStudyLink | length %}
                    <a href="{{ block.caseStudyLink.first().url }}" class="thumbs__item" style="background-image: url({{ block.gifAsset.first().getUrl() }});">
                        <div class="trapezium  trapezium--green">
                            <div class="trapezium__inner">
                                <p class="thumbs__label">{{ block.projectName }}</p>
                                <p class="thumbs__label">{{ block.categoryReleasedYear }}</p>
                            </div>
                        </div>
                        <img src="{{ block.staticAsset.first().getUrl() }}"  class="thumbs__image" />
                    </a>
                {% endif %} 
            </div>{% endfor %}
        </div>
    </div>
</section>

{% endblock %}