{% extends "_layout" %}

{% block content %}
    <section class="description" style="background: #{{ entry.projectColour }}">
        <div class="wrapper">
            <div class="wrapper__inner">
                <h1 class="project-title">{{ entry.title }}</h1>
                {% for block in entry.headerDescriptions %}
                    <div class="[ layout  layout--large ]  project-details">
                        {% if block.descriptionLeftColumn | length > 0 %}
                            <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionLeftColumn }}
                            </div>{% endif %}{% if block.descriptionRightColumn | length > 0 %}<div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionRightColumn }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="wrapper  wrapper--arrow  wrapper--description-arrow">
            <div class="arrow" style="background: url({{ entry.headerArrow.first.getUrl() }});"></div>
        </div>
    </section>
    <section class="main-contents">
        {% for block in entry.mainContents %}
            {% if block.type == "video" %}
                <div class="block  block--video  {% if block.bottomSpace == true %}mb18{% endif %}">
                    {% if block.arrow == true %}
                        <div class="">
                            <div class="arrow  main-contents__arrow"></div>
                        </div>
                    {% endif %}
                    <div class="content">
                        <div class="wrapper">
                            <div class="content__video">
                                <iframe src="//player.vimeo.com/video/{{ block.idNumber }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" frameborder="0" class="content__iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.type == "carousel" %}
                <div class="block">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow  arrow--main-contents"></div>
                        </div>
                    {% endif %}
                    <div class="case-study-carousel__cell  js-flickity" data-flickity-options='{ "wrapAround": true }'>
                        {% for asset in block.slide %}
                            <img src="{{ asset.getUrl() }}" class="case-study-carousel__img" alt="045" />
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}