{% extends "_layout" %}

{% block content %}
    <section class="description" style="background: #{{ entry.projectColour }}">
        <div class="wrapper">
            <div class="wrapper__inner">
                <h1 class="project-title">{{ entry.title }}</h1>
                {% for block in entry.headerDescriptions %}
                    <div class="[ layout  layout--large ]  project-details">
                        {% if block.descriptionLeftColumn | length > 0 %}
                            <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionLeftColumn }}
                            </div>{% endif %}{% if block.descriptionRightColumn | length > 0 %}<div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionRightColumn }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="wrapper  wrapper--arrow  wrapper--description-arrow">
            {% if entry.headerArrow | length %}
                <div id="arrow" class="arrow-to-next-block" style="background: url({{ entry.headerArrow.first.getUrl() }});"></div>
            {% endif %}
        </div>
    </section>
    <section class="main-contents">
        {% for block in entry.mainContents %}
            {% if block.type == "video" %}
                <div class="block  block--video  {% if block.bottomSpace == true %}mb18{% endif %}">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow-to-next-block  main-contents__arrow"></div>
                        </div>
                    {% endif %}
                    <div class="content">
                        <div class="wrapper  wrapper--video">
                            <div class="content__video">
                                <iframe src="//player.vimeo.com/video/{{ block.idNumber }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" frameborder="0" class="content__iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.type == "carousel" %}
                <div class="block  block--carousel  {% if block.bottomSpace == true %}mb18{% endif %}">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow-to-next-block  arrow--main-contents"></div>
                        </div>
                    {% endif %}
                    <div class="case-study-carousel">
                        {% for asset in block.slide %}
                            <div class="case-study-carousel__cell">
                                <img src="{{ asset.getUrl() }}" class="case-study-carousel__img" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if block.type == "twoColumnText" %}
                <div class="block  block--two-column-text  {% if block.bottomSpace == true %}mb18{% endif %}" style="background: #{{ entry.projectColour }}">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow-to-next-block  arrow--main-contents"></div>
                        </div>
                    {% endif %}
                    <div class="wrapper  wrapper--two-column-text">
                        <div class="wrapper__inner">
                            <div class="[ layout  layout--huge ]  content__two-column">
                                {% if block.leftColumn | length > 0 %}
                                    <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                        {{ block.leftColumn }}
                                    </div>{% endif %}{% if block.rightColumn | length > 0 %}<div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                        {{ block.rightColumn }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.type == "oneColumnText" %}
                <div class="block  block--one-column-text  {% if block.bottomSpace == true %}mb18{% endif %}">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow-to-next-block  arrow--main-contents"></div>
                        </div>
                    {% endif %}
                    <div class="wrapper  wrapper--one-column-text">
                        <div class="wrapper__inner">
                            <div class="content__one-column">
                                {{ block.text}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="paginations">
            {# Set parameters for prev/next elements list #}
            {% set params = craft.entries.section('caseStudies').order('postDate') %}
            
            {# Get the prev/next elements #}
            {% set prevEntry = entry.getPrev(params) %}
            {% set nextEntry = entry.getNext(params) %}
            <div class="layout">
                <div class="[ layout__item  u-1/1  u-1/2-lap-and-up ]  pagination__entry">
                    {% if prevEntry %}
                        <div class="entry--pagination  entry--prev">
                            <a href="{{ prevEntry.url }}" class="entry__link  entry__link--prev">
                                <span class="entry__inner-link">{{ prevEntry.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div><div class="[ layout__item  u-1/1  u-1/2-lap-and-up ]  pagination__entry">
                    {% if nextEntry %}
                        <div class="entry--pagination  entry--next">
                            <a href="{{ nextEntry.url }}" class="entry__link  entry__link--next">
                                <span class="entry__inner-link">{{ nextEntry.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}