{% extends "_layout" %}

{% block content %}
    <section class="description" style="background: #{{ entry.projectColour }}">
        <div class="wrapper">
            <div class="wrapper__inner">
                <h1 class="project-title">{{ entry.title }}</h1>
                {% for block in entry.headerDescriptions %}
                    <div class="[ layout  layout--large ]  project-details">
                        {% if block.descriptionLeftColumn | length > 0 %}
                            <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionLeftColumn }}
                            </div>{% endif %}{% if block.descriptionRightColumn | length > 0 %}<div class="layout__item  u-1/1  u-1/2-lap-and-up">
                                {{ block.descriptionRightColumn }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="wrapper  wrapper--arrow  wrapper--description-arrow">
            <div id="arrow" class="arrow" style="background: url({{ entry.headerArrow.first.getUrl() }});"></div>
        </div>
    </section>
    <section class="main-contents">
        {% for block in entry.mainContents %}
            {% if block.type == "video" %}
                <div class="block  block--video  {% if block.bottomSpace == true %}mb18{% endif %}">
                    {% if block.arrow == true %}
                        <div class="">
                            <div class="arrow  main-contents__arrow"></div>
                        </div>
                    {% endif %}
                    <div class="content">
                        <div class="wrapper">
                            <div class="content__video">
                                <iframe src="//player.vimeo.com/video/{{ block.idNumber }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" frameborder="0" class="content__iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.type == "carousel" %}
                <div class="block  block--carousel">
                    {% if block.arrow == true %}
                        <div class="wrapper  wrapper--arrow">
                            <div class="arrow  arrow--main-contents"></div>
                        </div>
                    {% endif %}
                    <div class="case-study-carousel  js-flickity" data-flickity-options='{ "wrapAround": true }'>
                        {% for asset in block.slide %}
                            <div class="case-study-carousel__cell">
                                <img src="{{ asset.getUrl() }}" class="case-study-carousel__img" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="paginations">
            {# Set parameters for prev/next elements list #}
            {% set params = craft.entries.section('caseStudies').order('postDate') %}
            
            {# Get the prev/next elements #}
            {% set prevEntry = entry.getPrev(params) %}
            {% set nextEntry = entry.getNext(params) %}
            <div class="layout">
                <div class="[ layout__item  u-1/1  u-1/2-lap-and-up ]  entry__prev">
                    {% if prevEntry %}
                        <a href="{{ prevEntry.url }}" class="arrow-prev"><img src="/assets/images/arrow-prev.png" /></a>
                        <a href="{{ prevEntry.url }}" class="entry__link">{{ prevEntry.title }}</a>
                    {% endif %}
                </div><div class="[ layout__item  u-1/1  u-1/2-lap-and-up ]  entry__next">
                    {% if nextEntry %}
                        <a href="{{ nextEntry.url }}" class="entry__link">{{ nextEntry.title }}</a>
                        <a href="{{ nextEntry.url }}" class="arrow-next"><img src="/assets/images/arrow-next.png" /></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}