{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% if entry is defined %}{{ entry.title }} - {% endif %}{{ siteName }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title"
          content="{% block ogTitle %}{% if entry is defined %}{{ entry.title }} - {% endif %}{{ siteName }}{% endblock %}"/>
    <meta property="og:site_name" content="{{ siteName }}"/>
    <meta property="og:url" content="{% if entry is defined %}{{ entry.url }}{% endif %}"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="{% block ogImage %}{% endblock %}"/>
    <meta property="fb:app_id" content=""/>

    <link rel="stylesheet" href="/styles/main.css" media="screen, projection"/>
</head>

<body>
    <b class="[ frame  frameBottom ]"></b>
    <b class="[ frame  frameLeft ]"></b>
    <b class="[ frame  frameRight ]"></b>

    <header class="page-head">
        <div class="wrapper page-head--wrapper">
            <div class="page-head--contents">
                <h1>KEIICHI MATSUDA</h1>
                <h2>CRITICAL DESIGN</h2>
                <div class="page-head--toggle"></div>
                <ul class="page-head--menus">
                    <li class="item"><a href="{{ siteUrl }}">HOME</a></li>
                    <li class="item"><a href="/projects">PROJECTS</a></li>
                    <li class="item"><a href="/about">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
    <footer class="page-foot">
        <div class="page-foot__arrow"></div>
        <div class="wrapper page-foot__wrapper">
            <div class="layout  layout--huge">
                <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                    <div class="page-foot__item  page-foot__quotes">
                        {% if footer.quotes | length %}
                            {% for block in footer.quotes %}
                                {{ block.quote }}
                                {{ block.author }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="page-foot__item  page-foot__mailchimp">
                        <h3>Sign up to mailing list</h3>
                    </div>
                    <div class="page-foot__item  page-foot__ltd">
                        {{ footer.keiichiMatsudaLtd}}
                    </div>
                    <div class="page-foot__item  page-foot__copy-right">
                        {{ footer.copyright }}
                    </div>
                </div><div class="layout__item  u-1/1  u-1/2-lap-and-up">
                    <div class="page-foot__contact">
                        <h3>Contact</h3>
                        <div class="page-foot__item  page-foot__contact-copy">
                            {{ footer.contactCopy }}
                        </div>
                        <div class="page-foot__item  page-foot__contact-details">
                            <ul>
                                <li>T : {{ footer.contactTel }}</li>
                                <li>E : {{ footer.contactEmail }}</li>
                                {% if footer.contactTwitter | length %}
                                    {% for block in footer.contactTwitter %}
                                        <li>Twitter : <a href="{{ block.twitterLink }}" target="_blank">{{ block.twitterAccount }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="page-foot__item  page-foot__twitter-widget">
                            Twitter widget here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/scripts/main.js"></script>
</body>
</html>
