{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% if entry is defined %}{{ entry.title }} - {% endif %}{{ siteName }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title"
          content="{% block ogTitle %}{% if entry is defined %}{{ entry.title }} - {% endif %}{{ siteName }}{% endblock %}"/>
    <meta property="og:site_name" content="{{ siteName }}"/>
    <meta property="og:url" content="{% if entry is defined %}{{ entry.url }}{% endif %}"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="{% block ogImage %}{% endblock %}"/>
    <meta property="fb:app_id" content=""/>

    <link rel="stylesheet" href="/styles/main.css" media="screen, projection"/>
</head>

<body>
    <b class="[ frame  frameBottom ]"></b>
    <b class="[ frame  frameLeft ]"></b>
    <b class="[ frame  frameRight ]"></b>
    <div class="page-loader">
        <div class="page-loader__spinner"></div>
    </div>
    <header class="page-head">
        <div class="wrapper page-head--wrapper">
            <div class="page-head--contents">
                <div class="page-head__top">
                    <h1>
                        <a href="{{ siteUrl }}" class="site-title">KEIICHI MATSUDA</a>
                    </h1>
                    <h2>CRITICAL DESIGN</h2>
                    <div class="page-head--toggle"></div>
                </div>
                <ul class="page-head--menus">
                    <li class="menu__item"><a href="{{ siteUrl }}" class="menu__link  hover--border-up">HOME</a></li>
                    <li class="menu__item"><a href="/projects" class="menu__link  hover--border-up">PROJECTS</a></li>
                    <li class="menu__item"><a href="/about" class="menu__link  hover--border-up">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="page-foot">
        <div class="arrow  arrow--page-foot"></div>
        <div class="wrapper page-foot__wrapper">
            <div class="layout  layout--large">
                <div class="layout__item  u-1/1  u-1/2-lap-and-up">
                    <div class="page-foot__item  page-foot__quotes">
                        {% if footer.quotes | length %}
                            {% for block in footer.quotes %}
                                <p class="quotes">{{ block.quote }}</p>
                                <div class="quotes  quotes--author">- {{ block.author }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="page-foot__item  page-foot__mailchimp">
                        <h3 class="page-foot__header">Sign up to mailing list</h3>
                        <div class="mailchimp__form">
                            {% include 'partials/_mailchimp' %}
                        </div>
                    </div>
                    <div class="page-foot__item  page-foot__ltd">
                        {{ footer.keiichiMatsudaLtd}}
                    </div>
                    <div class="page-foot__item  page-foot__copy-right">
                        {{ footer.copyright }}
                    </div>
                </div><div class="layout__item  u-1/1  u-1/2-lap-and-up">
                    <div class="page-foot__contact">
                        <h3 class="page-foot__header  page-foot__header--contact">Contact</h3>
                        <div class="page-foot__item  page-foot__contact-copy">
                            {{ footer.contactCopy }}
                        </div>
                        <div class="page-foot__item  page-foot__contact-details">
                            <ul>
                                <li>T : {{ footer.contactTel }}</li>
                                <li>E : <a href="mailto:{{ footer.contactEmail }}" class="page-foot__link  hover--border-up">{{ footer.contactEmail }}</a></li>
                                {% if footer.contactTwitter | length %}
                                    {% for block in footer.contactTwitter %}
                                        <li>Twitter : <a href="{{ block.twitterLink }}" target="_blank" class="page-foot__link  hover--border-up">{{ block.twitterAccount }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="page-foot__item  page-foot__twitter-widget">
                            <a class="twitter-timeline" width="100%" height="200px" data-theme="dark" data-border-color="#fff" data-link-color="#fff" data-chrome="noheader nofooter transparent" data-tweet-limit="2" href="https://twitter.com/keiichiban" data-widget-id="398260652914917376">Tweets by @keiichiban</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/scripts/main.js"></script>
</body>
</html>
