{% extends "_layout" %}

{% block content %}
<section class="home">
    <div class="home__news">
        <span class="news__title">News</span>
        <div class="news__item">
            {% if entry.homeNews | length %}
                {% for block in entry.homeNews %}
                    <div class="news__cell">
                      {% if block.type == 'simpleTextNews' %}
                        {% if block.heading | length %}
                        <span class="news__link">{{ block.heading }}</span>
                        {% endif %}
                      {% elseif block.type == 'internalLinkNews' %}
                        {% if block.heading | length %}
                          <a{% if block.entry | length %} href="{{ block.entry.first().url }}"{% endif %} class="news__link">{{ block.heading }}</a>
                        {% endif %}
                      {% else %}
                        {% if block.heading | length %}
                          <a{% if block.linkUrl | length %} href="{{ block.linkUrl }}"{% endif %} class="news__link" target="_blank">{{ block.heading }}</a>
                        {% endif %}
                      {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="home-carousel  {% if craft.lj_mobiledetect.type == "phone" %}bottom-up{% endif %}">
        <div class="home-carousel__static-banner  captions">
            <span class="caption  caption--title">Featured Project</span>
            <span class="caption  caption--project"></span>
        </div>
        {% if entry.homeCarousel | length %}
            {% for block in entry.homeCarousel %}
                <div class="home-carousel__cell">
                    <a href="{{ block.caseStudyLink.first().getUrl() }}" class="home-carousel__link">
                        <img src="{{ block.image.first().getUrl() }}" class="home-carousel__img" alt="{{ block.projectTitle}}" />
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
